body {
    background-color: #217568;
}

.hide {
    display: none;
    visibility: hidden;
}

header {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 276px;
    height: 276px;
}

.square {
    height: 90px;
    width: 90px;
    border: 1px solid black;
}

.mole {
    background-image: url('pics/fauci.png');
}



.pinkBtn {
    box-shadow: 0 0 5px white;
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
    background-color: #FF006F;
    border-radius: 10px;
    font-weight:500;
    color: white;
}