@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@621&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
}

.hide {
    display: none;
    visibility: hidden;
}

body {
    background-color: #217568;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    color: white;
    font-size:small;
}

.tile-container {
    width: 330px;
    margin-bottom: 30px;
}

.key-container {
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key-container button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #FF006F;
    color: white;
    margin: 4px;
}

.key-container button:nth-child(27),
.key-container button:nth-child(28) {
    width: 68px;
}

.tile-container div {
    display: flex;
    justify-content: center;
}

.tile-container .tile {
    border: 1px solid #FF006F;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 2px;
}

.message-container {
    height: 30px;
}

.message-container p {
    background-color: #FF006F;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    color: white;
    margin-bottom: 20px;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.grey-overlay {
    background-color: #217568 !important;
    border: none !important;
}

.yellow-overlay {
    background-color: #b59f3a !important;
    border: none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border: none !important;
}

.wordWinDiv {
    margin-top: 2%;
    justify-content: center;
    background: #FF006F;
    color: white;
    width: 80%;
    max-width: 550px;
}

.wordLoseDiv {
    justify-content: center;
    background: #FF006F;
    color: white;
    width: 80%;
    max-width: 550px;
}

.Endresult {
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    color: white;
    background-color: #FF006F;
    width: fit-content;
    padding: 1% 2%;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

